.redes-sociales {
    font-size: 24px; /* Tamaño de los iconos */
}

.redes-sociales a {
    margin-right: 10px; /* Espacio entre los iconos */
    color: #333; /* Color de los iconos */
    text-decoration: none; /* Elimina el subrayado en los enlaces */
}

.redes-sociales a:hover {
    color: #007bff; /* Cambia el color al pasar el cursor sobre los iconos */
}
